{
  // اپراتور رو مشخص کنید 
  // تنها زمانی که از ایپی های پابلیک استفاده شود اهمیت دارد
  // و روی لیست فایل ایپی لوکال فیلتری انجام نمیشود
  "operator": "MCI",

  // اگر که فایل ریزالت اسکن رو دارین میتونین به عنوان ورودی مشخص کنین و تا برنامه تنها سریع ترین انها را روی کلودفلر ست کنه
  "use_provided_result": true,

  // نام فایل ریزالت ورودی
  "last_result_path": "/path/to/CFScanner/result/20230413-175923-result.cf",

  // آیا لیست ایپی های تست شده ریپو وحید استفاده شود؟
  "include_list_ips": false,

  // آیا ایپی لیست دومین های ریپو وحید استفاده شود؟
  "include_list_domains": false,

  // دومین های اضافه ای که در نظر دارین ایپی هاش استفاده شه در این ارایه وارد بشه
  "additional_domains": ["mcin.ircf.space", "mtnn.ircf.space"],

  // آیا ورودی ایپی های کاستوم استفاده شود؟
  "include_custom_ips": true,

  // اگر فایل ایپی دارین که میخواین اسکن شه ادرس بدین
  "custom_ips_file_path": "custom_ips.txt",

  // تمامی ایپی های ورودی به برنامه را در یه فایل خروجی مینویسد
  "output_file": "combined_ips.txt",

  // آیدی زون دامنه در کلودفلر
  "zone_id": "aaaaaaaaaaaaaaaaaaaaaaaa",

  // ایمیل کلودفلر
  "email": "aaaaaaaaaaaaaa@gmail.com",

  // گلوبال کلید رو از بخش پروفایل بدست بیارین
  "global_key": "aaaaaaaaaaaaaaaaaaaaaaaaaa",

  // تعداد ماکسیموم رکورد هایی که در نظر دارید برای ساب شما ثبت شود
  "max_no_records": 3,
  
  // ساب دومین که در نظر دارین ایپی ها روش ثبت شه
  "sub_domain": "sub",

  // تعداد اسکن همزمان
  "scan_concurrency": 4,

  // سرعت تست اپلود
  "upload_speed": 40,

  // مسیر کانفیگ کاستوم برای اسکنر مرتضی
  "custom_config": ""
}
