{
  // اپراتور رو مشخص کنید 
  // تنها زمانی که از ایپی های پابلیک استفاده شود اهمیت دارد
  // و روی لیست فایل ایپی لوکال فیلتری انجام نمیشود
  // چون لیست لوکال اطلاعات اپراتور ایپی را مشخص نمیکند
  "operator": "MCI",

  // اگر که فایل ریزالت اسکن رو دارین میتونین به عنوان ورودی مشخص کنین و تا برنامه دیگه اسکنی انجام نده
  // و با اون ریزالت اسکنی که دارین فقط پر سرعت ترین هاشون رو روی ساب دامین کلودفلر ثبت کنین
  "use_provided_result": true,

  // نام فایل ریزالت ورودی
  "last_result_path": "/path/to/CFScanner/result/20230413-175923-result.cf",

  // آیا لیست ایپی های تست شده ریپو وحید استفاده شود؟
  // https://raw.githubusercontent.com/vfarid/cf-clean-ips/main/list.json
  "include_list_ips": false,

  // آیا ایپی لیست دومین های ریپو وحید استفاده شود؟
  // https://raw.githubusercontent.com/vfarid/cf-clean-ips/main/providers.json
  "include_list_domains": false,

  // دومین های اضافه ای که در نظر دارین ایپی هاش استخراج و استفاده شه باید در این ارایه وارد بشه
  "additional_domains": [
    "isegaro.ddns.net",
    "mcicloudflare.ddns.net",
    "mtncloudflare.sytes.net",
    "free1.ar6ambot.pw",
    "j.mmd603.online"
  ],
  
  // آیا ورودی ایپی های کاستوم استفاده شود؟
  "include_custom_ips": true,

  // اگر فایل ایپی دارین که میخواین اسکن شه ادرس بدین
  "custom_ips_file_path": "custom_ips.txt",

  // تمامی ایپی های ورودی به برنامه را در یه فایل خروجی مینویسد
  "output_file": "combined_ips.txt",

  // آیدی زون دامنه در کلودفلر
  "zone_id": "aaaaaaaaaaaaaaaaaaaaaaaa",

  // ایمیل کلودفلر
  "email": "aaaaaaaaaaaaaa@gmail.com",

  // گلوبال کلید رو از بخش پروفایل بدست بیارین
  "global_key": "aaaaaaaaaaaaaaaaaaaaaaaaaa",

  // تعداد ماکسیموم رکورد هایی که در نظر دارید برای ساب شما ثبت شود
  "max_no_records": 3,
  
  // ساب دومین که در نظر دارین ایپی ها روش ثبت شه
  // برای مثال اگر دامین شما باشه: domain.com
  // و شما مقدار فیلد رو بدین: sub
  // ایپی های پیدا شده روی این دامین ثبت میشن: sub.domain.com
  "sub_domain": "sub",

  // تعداد اسکن همزمان ایپی های جمع اوری شده
  "scan_concurrency": 4,

  // سرعت تست اپلود ایپی ها
  "upload_speed": 40,

  // مسیر کانفیگ کاستوم برای اسکنر مرتضی
  "custom_config": ""
}
